<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My CV{% endblock %}</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hongdao Meng's CV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active me-3" aria-current="page" href="/resume/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/projects/">Internship & Research Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/awards/">Honors & Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 主体内容块，子模板的内容会插入这里 -->
<div class="container my-5">
    {% block content %}
    <!-- 子模板的内容将在这里插入 -->
    {% endblock %}
</div>

<!-- 引入 Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
