{% extends "base.html" %}

{% block title %}Honors & Awards - Hongdao Meng{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Honors & Awards</h2>
    <div class="row">
        <!-- 渲染所有获奖信息 -->
        {% for award in awards %}
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5>{{ award.title }}</h5>
                <p>{{ award.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2>Publications</h2>
    <div class="row">
        <!-- 渲染所有发表文章信息 -->
        {% for pub in publications %}
        <div class="col-md-6 mb-4">
            <div class="card p-4">
                <h5>{{ pub.title }}</h5>
                <p><strong>Authors:</strong> {{ pub.authors }}</p>
                <p><strong>Journal:</strong> {{ pub.journal }}</p>
                {% if pub.url %}
                    <p><strong>Link:</strong> <a href="{{ pub.url }}" target="_blank">Read More</a></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
