{% extends "base.html" %}

{% block title %}Contact Me - Hongdao Meng{% endblock %}

{% block content %}
<h2 class="text-center mb-5">Contact Me</h2>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="p-4" style="border-radius: 15px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); padding: 20px; background-color: #fff;">
            <!-- 电话信息 -->
            <div style="margin-bottom: 15px;">
                <i class="fas fa-phone" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                <strong>Phone:</strong> +1-718-306-3737
            </div>

            <!-- 邮箱信息 -->
            <div style="margin-bottom: 15px;">
                <i class="fas fa-envelope" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                <strong>Email:</strong>
                <a href="mailto:hm3424@nyu.edu">hm3424@nyu.edu</a> /
                <a href="mailto:mycrofthd@gmail.com">mycrofthd@gmail.com</a>
            </div>

            <!-- 地址信息 -->
            <div style="margin-bottom: 15px;">
                <i class="fas fa-map-marker-alt" style="font-size: 24px; margin-right: 10px; color: #007bff;"></i>
                <strong>Address:</strong> #111 Lawrence St, Brooklyn, New York, 11201
            </div>

            <!-- LinkedIn 信息 -->
            <div style="margin-bottom: 15px;">
                <i class="fab fa-linkedin" style="font-size: 32px; margin-right: 10px; color: #0a66c2;"></i>
                <strong>LinkedIn:</strong>
                <a href="https://www.linkedin.com/in/%E5%AE%8F%E9%81%93-%E5%AD%9F-70222b306/" target="_blank">LinkedIn Profile</a>
            </div>

            <!-- IG 信息 -->
            <div style="margin-bottom: 15px;">
                <i class="fab fa-instagram" style="font-size: 32px; margin-right: 10px; color: #0a66c2;"></i>
                <strong>Instagram:</strong>
                <a href="https://www.instagram.com/mycrofthd/" target="_blank">Instagram Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
